@font-face {
  font-family: 'SansationLight';
  src: url('/font/Sansation_Light-webfont.eot');
  src: url('/font/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/font/Sansation_Light-webfont.woff') format('woff'),
  url('/font/Sansation_Light-webfont.ttf') format('truetype'),
  url('/font/Sansation_Light-webfont.svg#SansationLight') format('svg');
  font-weight: normal;
  font-style: normal;

}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html {
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background: #212121;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.5em;
}

p, .entry-content ul {
  margin-bottom: 1.5em;
  line-height: 1.95;
}

code, pre {
  font-family: Monaco, Consolas, monospace;
}
code { font-size: 1em; }

pre {
  color: #fff;
  background: #212121;
  margin: 1.5em -1.1em 1.5em -3em;
  padding: 1em 2em 1em 3em;
  word-wrap: break-word;
  font-size: 0.9em;
}


.nav-primary {
  font-weight: 700;
  text-transform: uppercase;
  padding: 2em;
}
.nav-primary ul {
  clear: both;
}
.nav-primary a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5em 0;
}
.nav-primary a:hover {
  color: #fff;
  text-decoration: underline;
}

.nav-toggle {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 2;
  text-decoration: none;
  text-shadow: 0 0.1em 0.1em rgba(0,0,0,0.75);
  background-color: #222;
  background-image: -webkit-linear-gradient(top, #333, #222);
  background-repeat: repeat-x;
  display: none;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0.1em 0.75em;
  border: 1px solid #333;
  border-radius: 0.25em;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.5);
  float: right;
  cursor: pointer;
}
.nav-toggle:hover,
.nav-toggle:active,
.nav-toggle:focus {
  color: #fff;
  text-decoration: none;
  background-color: #333;
  background-position: 0 1em;
}

.js .nav-toggle {
  display: block;
}
.js .nav-primary ul {
  height: 0;
  overflow: hidden;
}
.js .nav-primary ul.open {
  height: auto;
}

.main-wrapper {
  color: #1d3c4f;
  background: #fff;
  padding: 3.75em 1em 1em;
}

.site-header {
  color: #000;
  text-align: right;
  background: #f8f670;
  max-width: 65.625em;
  padding: 0.5em 0;
}
.site-header .brand-name {
  font-family: 'SansationLight', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.833;
  background: url(../img/logo_small.png) no-repeat 100% 50%;
  margin: 0 1em 0 0;
  padding-right: 45px;
}

.site-header .brand-name a:link,
.site-header .brand-name a:visited {
  color: #000;
  text-decoration: none;
}

.site-footer {
  clear: both;
  overflow: auto;
}
.site-footer a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.site-footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.site-footer .about-the-site,
.site-footer .latest-posts {
  padding: 1.5em 1.75em;
}
.site-footer .about-the-site h1,
.site-footer .latest-posts h1 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 2em;
  text-transform: uppercase;
}

.site-footer .about-the-site {
  background: #25282b;
}

.site-footer .latest-posts a {
  font-weight: 700;
  background: url(../img/link_icon.png) no-repeat 0 0;
  display: block;
  padding-left: 32px;
}
.site-footer .latest-posts li {
  margin-bottom: 1.75em;
}
.site-footer .latest-posts li:last-child {
  margin-bottom: 0;
}

.site-footer .copyright {
  font-size: 80%;
  text-align: right;
  margin-bottom: 0;
}

.entry {
  margin-bottom: 2em;
  padding-left: 4.375em;
}

.entry-header {
  margin-bottom: 2em;
}
.entry-header p {
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0;
}
.entry-header .author {
  font-weight: 600;
}
.entry-header .author-avatar {
  width: 3.125em;
  height: 3.125em;
  margin: 0.15em 0 0 -4.375em;
  float: left;
}

.entry-title {
  margin-bottom: 0.25em;
}

.entry-content li { list-style: disc; }

.menu-icon { display: none; }

.home-intro,
.home-post { border-bottom: 1px solid #ddd; }

.main-wrapper a:link,
.main-wrapper a:visited {
  color: #1d3c4f;
  text-decoration: underline;
}

.main-wrapper a:hover {
  text-decoration: none;
}

.home-small-entry a:link,
.home-small-entry a:visited {
  color: #1d3c4f;
  text-decoration: none;
}

.search-form {
  margin-bottom: 1.5em;
}

.search-form input {
  font-size: 22px;
  padding: 5px;
  width: 20em;
}

@media (min-width: 60em) {

  .home-small-entry-wrap {
    overflow: auto;
  }
  .home-small-entry {
    width: 30%;
    float: left;
    height: 100px;
  }

  .nav-primary {
    float: left;
  }

  .js .nav-primary ul {
    height: auto;
  }

  .js .nav-toggle {
    display: none;
  }

  .site-header {
    /* max-width: 52.5em; */
    max-width: 67.6em;
    /* margin-left: 13.125em; */
    margin-left: 0;
  }

  .menu-icon {
    display: none;
  }


  .main-wrapper {
    max-width: 52.5em;
    margin-left: 13.125em;
  }

  .site-footer {
    max-width: 65.625em;
  }
  .site-footer .about-the-site,
  .site-footer .latest-posts {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .site-footer .about-the-site {
    width: 60%;
    float: left;
  }
  .site-footer .latest-posts {
    width: 40%;
    float: right;
  }

  .entry {
    padding-left: 13.125em;
  }

  /* ad code */
  body .one .bsa_it_ad { background: transparent; border: none; font-family: inherit; padding: 0 15px 0 10px; margin: 0; text-align: right; }
  body .one .bsa_it_ad:hover img { -moz-box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000; }
  body .one .bsa_it_ad .bsa_it_i { display: block; padding: 0; float: none; margin: 0 0 5px; }
  body .one .bsa_it_ad .bsa_it_i img { padding: 0; border: none; }
  body .one .bsa_it_ad .bsa_it_t { padding: 6px 0; }
  body .one .bsa_it_ad .bsa_it_d { padding: 0; font-size: 12px; color: #333; }
  body .one .bsa_it_p { display: none; }
  body #bsap_aplink, body #bsap_aplink:hover { display: block; font-size: 10px; margin: 12px 15px 0; text-align: right; }
}

/**
 * Syntax (monokai)
 */

 .highlight         { background-color: #49483e }
 .c                 { color: #75715e }                            /* Comment                     */
 .err               { color: #960050; background-color: #1e0010 } /* Error                       */
 .k                 { color: #66d9ef }                            /* Keyword                     */
 .l                 { color: #ae81ff }                            /* Literal                     */
 .n                 { color: #f8f8f2 }                            /* Name                        */
 .o                 { color: #f92672 }                            /* Operator                    */
 .p                 { color: #f8f8f2 }                            /* Punctuation                 */
 .cm                { color: #75715e }                            /* Comment.Multiline           */
 .cp                { color: #75715e }                            /* Comment.Preproc             */
 .c1                { color: #75715e }                            /* Comment.Single              */
 .cs                { color: #75715e }                            /* Comment.Special             */
 .ge                { font-style: italic }                        /* Generic.Emph                */
 .gs                { font-weight: bold }                         /* Generic.Strong              */
 .kc                { color: #66d9ef }                            /* Keyword.Constant            */
 .kd                { color: #66d9ef }                            /* Keyword.Declaration         */
 .kn                { color: #f92672 }                            /* Keyword.Namespace           */
 .kp                { color: #66d9ef }                            /* Keyword.Pseudo              */
 .kr                { color: #66d9ef }                            /* Keyword.Reserved            */
 .kt                { color: #66d9ef }                            /* Keyword.Type                */
 .ld                { color: #e6db74 }                            /* Literal.Date                */
 .m                 { color: #ae81ff }                            /* Literal.Number              */
 .s                 { color: #e6db74 }                            /* Literal.String              */
 .na                { color: #a6e22e }                            /* Name.Attribute              */
 .nb                { color: #f8f8f2 }                            /* Name.Builtin                */
 .nc                { color: #a6e22e }                            /* Name.Class                  */
 .no                { color: #66d9ef }                            /* Name.Constant               */
 .nd                { color: #a6e22e }                            /* Name.Decorator              */
 .ni                { color: #f8f8f2 }                            /* Name.Entity                 */
 .ne                { color: #a6e22e }                            /* Name.Exception              */
 .nf                { color: #a6e22e }                            /* Name.Function               */
 .nl                { color: #f8f8f2 }                            /* Name.Label                  */
 .nn                { color: #f8f8f2 }                            /* Name.Namespace              */
 .nx                { color: #a6e22e }                            /* Name.Other                  */
 .py                { color: #f8f8f2 }                            /* Name.Property               */
 .nt                { color: #f92672 }                            /* Name.Tag                    */
 .nv                { color: #f8f8f2 }                            /* Name.Variable               */
 .ow                { color: #f92672 }                            /* Operator.Word               */
 .w                 { color: #f8f8f2 }                            /* Text.Whitespace             */
 .mf                { color: #ae81ff }                            /* Literal.Number.Float        */
 .mh                { color: #ae81ff }                            /* Literal.Number.Hex          */
 .mi                { color: #ae81ff }                            /* Literal.Number.Integer      */
 .mo                { color: #ae81ff }                            /* Literal.Number.Oct          */
 .sb                { color: #e6db74 }                            /* Literal.String.Backtick     */
 .sc                { color: #e6db74 }                            /* Literal.String.Char         */
 .sd                { color: #e6db74 }                            /* Literal.String.Doc          */
 .s2                { color: #e6db74 }                            /* Literal.String.Double       */
 .se                { color: #ae81ff }                            /* Literal.String.Escape       */
 .sh                { color: #e6db74 }                            /* Literal.String.Heredoc      */
 .si                { color: #e6db74 }                            /* Literal.String.Interpol     */
 .sx                { color: #e6db74 }                            /* Literal.String.Other        */
 .sr                { color: #e6db74 }                            /* Literal.String.Regex        */
 .s1                { color: #e6db74 }                            /* Literal.String.Single       */
 .ss                { color: #e6db74 }                            /* Literal.String.Symbol       */
 .bp                { color: #f8f8f2 }                            /* Name.Builtin.Pseudo         */
 .vc                { color: #f8f8f2 }                            /* Name.Variable.Class         */
 .vg                { color: #f8f8f2 }                            /* Name.Variable.Global        */
 .vi                { color: #f8f8f2 }                            /* Name.Variable.Instance      */
 .il                { color: #ae81ff }                            /* Literal.Number.Integer.Long */

.buynow {
  background: #3189C8;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  padding: 0 20px;
  margin-top: 5px;
  letter-spacing: 0.03em;
  vertical-align: middle;
  width: 70%;
}
.buynow:hover,
.buynow:focus {
  background-color: #276D9F;
}

a:link.buynow {
  color: #fff;
  text-decoration: none;
}

.notification p {
  margin-top: 20px;
  margin-left: 10px;
}

.notification a:link,
.notification a:visited {
  color: white;
}
.notification a:hover {
  text-decoration: none;
}

.deprecation-warning {
  font-style: italic;
  font-weight: bold;
}

hr {
  margin-bottom: 30px;
}
