@font-face {
  font-family: 'SansationLight';
  src: url('/font/Sansation_Light-webfont.eot');
  src: url('/font/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/font/Sansation_Light-webfont.woff') format('woff'),
  url('/font/Sansation_Light-webfont.ttf') format('truetype'),
  url('/font/Sansation_Light-webfont.svg#SansationLight') format('svg');
  font-weight: normal;
  font-style: normal;

}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html {
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background: #ededed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.5em;
}

.content-container {
  max-width: 860px;
  width: 90%;
  margin: 0 auto;
}

.site-header {
  width: 100%;
  background: #F8F670;
  height: 80px;
}

.site-header .brand-name {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.833;
  background: url(../img/logo_small.png) no-repeat 0% 50%;
  padding-left : 45px;
  float: left;
}

.site-header p {
  font-size: .9em;
  font-weight: normal;
  padding: 19px 0 0 20px;
  width: 60%;
  float: right;
}

.site-header .brand-name a:link,
.site-header .brand-name a:visited {
  color: #000;
  text-decoration: none;
}

.nav-primary {
  width: 100%;
  background: #212121;
  height: 60px;
}

.nav-primary li {
  display: block;
  float: left;
  height: 60px;
  width: 100px;
  margin: 10px 0 0 0;
}

.nav-primary a:link,
.nav-primary a:visited {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5em 0;
}

.nav-primary a:hover {
  color: #ccc;
}

.nav-primary .twitter-li {
  margin-top: 5px;
}

p, .entry-content ul {
  margin-bottom: 1.5em;
  line-height: 1.95;
}

code, pre {
  font-family: Monaco, Consolas, monospace;
}
code { font-size: 1em; }

pre {
  color: #fff;
  background: #212121;
  padding: 1em 2em 1em 3em;
  word-wrap: break-word;
  font-size: 0.9em;
}

.main {
  background: #fff;
  padding: 10px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}


.home-post:first-of-type {
  margin-top: 15px;
}
.home-post {
  padding: 20px 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.entry-title , .entry-intro {
  position: relative;
}

.entry-title a:link,
.entry-title a:visited {
  color: #000;
  text-decoration: none;
}

.entry-title a:hover {
  color: #696969;
}

.entry-intro a:link,
.entry-intro a:visited,
footer a:link,
footer a:visited {
  color: #000;
  text-decoration: none;
}

.entry-intro a:hover,
footer a:hover {
  color: #696969;
}

.entry-read-more {
  color: #000;
  display: block;
}


.entry-date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .7em;
  color: #7e7e7e;
  text-align: right;
}

.home-archives-link {
  text-align: center;
  margin-top: 35px;
}

.home-archives-link a:link,
.home-archives-link a:visited {
  text-decoration: underline;
  color: #000;
}

.home-archives-link a:hover {
  color: #7e7e7e;
}


#carbonads {
  display: block;
  width: 130px;
  padding: 10px;
  background: #fff;
  font-weight: normal;
  text-transform: none;
  margin-top: 20px;
  font-size: 12px;
}

#carbonads a:link,
#carbonads a:visited {
  color: #111;
  text-decoration: none;
  display: block;
  padding: 0.5em 0;
}

#carbonads a:hover {
  text-decoration: underline;
}

.carbon-poweredby {
  display: block;
}

.entry-content img {
  max-width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  width: 400px;
  margin: 30px auto 10px auto;
  text-align: center;
  font-size: .9em;
}

footer li {
  display: inline-block;
  padding: 2px 5px;
}

