@font-face {
  font-family: 'SansationLight';
  src: url('/font/Sansation_Light-webfont.eot');
  src: url('/font/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/font/Sansation_Light-webfont.woff') format('woff'),
  url('/font/Sansation_Light-webfont.ttf') format('truetype'),
  url('/font/Sansation_Light-webfont.svg#SansationLight') format('svg');
  font-weight: normal;
  font-style: normal;

}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html {
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background: #ededed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.35em;
}

.content-container {
  max-width: 860px;
  width: 90%;
  margin: 0 auto;
}

.site-header {
  width: 100%;
  background: #333;
  height: 100px;

}

.brand-name img {
  max-height: 70px;
  margin-top: 15px;
}

.site-header p {
  font-size: .9em;
  font-weight: normal;
  padding: 19px 0 0 20px;
  width: 60%;
  float: right;
}

.site-header .brand-name a:link,
.site-header .brand-name a:visited {
  color: #000;
  text-decoration: none;
}

.nav-primary {
  width: 100%;
  background: #212121;
  height: 60px;
}

.nav-primary li {
  display: block;
  float: left;
}

.nav-primary a:link,
.nav-primary a:visited {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 60px;
  width: 100px;
  line-height: 60px;
  text-align: center;
}

.nav-primary a:hover {
  color: #333;
  background: #F7DF1E;
}

.nav-primary .twitter-li {
  margin-top: 20px;
  float: right;
}

p, .entry-content ul {
  margin-bottom: 1em;
  line-height: 1.95;
}

code, pre {
  font-family: Monaco, Consolas, monospace;
}
code { font-size: 1em; }

p > code, li > code {
  background: #ddd;
  padding: 3px;
}

.entry-content ul {
  list-style: disc;
  padding: 5px 0 0 20px;
}

pre {
  color: #fff;
  background: #212121;
  padding: 15px 5px 15px 10px;
  word-wrap: break-word;
  font-size: 0.9em;
  margin-bottom: 1em;
  overflow: scroll;
}

.main {
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.main a:link,
.main a:visited {
  color: blue;
}

.main a:hover {
  text-decoration: none;
}


.home-post:first-of-type {
  margin-top: 15px;
}
.home-post {
  padding: 20px 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.entry-title , .entry-intro {
  position: relative;
}
.entry-title {
  text-align: center;
}

.entry-title a:link,
.entry-title a:visited {
  color: #000;
  text-decoration: none;
}

.entry-title a:hover {
  color: #696969;
}

.entry-intro a:link,
.entry-intro a:visited,
footer a:link,
footer a:visited {
  color: #000;
  text-decoration: none;
}

.entry-intro a:hover,
footer a:hover {
  color: #696969;
}

.entry-read-more {
  color: #000;
  display: block;
}


.entry-date {
  font-size: .7em;
  color: #7e7e7e;
  display: block;
  margin-top: 10px;
}

.home-archives-link {
  text-align: center;
  margin-top: 35px;
}

.home-archives-link a:link,
.home-archives-link a:visited {
  text-decoration: underline;
  color: #000;
}

.home-archives-link a:hover {
  color: #7e7e7e;
}


#carbonads {
  font-size: 14px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  display: block;
  width: 60%;
  margin: 0 auto 25px auto;
  height: 100px;
}

#carbonads a:link,
#carbonads a:visited {
  color: #111;
  text-decoration: none;
  display: block;
}

#carbonads a:hover {
  text-decoration: underline;
}

.carbon-poweredby {
  display: block;
}

.carbon-img {
  display: block;
  float: left;
  margin-right: 15px;
}

.carbon-text {
  padding: 6px;
}

.entry-content img {
  max-width: 100%;
}

.entry-meta {
  font-style: italic;
  text-align: center;
  font-size: 14px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  width: 400px;
  margin: 30px auto 10px auto;
  text-align: center;
  font-size: .9em;
}

footer li {
  display: inline-block;
  padding: 2px 5px;
}

.search-form input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
}

ul.archives {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  margin: 20px 0;
}

.archives p {
  margin: 5px 0;
}

.archives li {
  list-style: none;
  margin-bottom: 25px;
  border-top: 1px solid #ddd;
  padding-top: 25px;
}

.archives-intro {
  font-style: italic;
}

.notification {
  height: 30px;
  line-height: 30px;
  background: #111;
  color: #fff;
  font-size: 15px;
  padding: 0 0 0 10px;
  text-align: center;
}

.notification a:link,
.notification a:visited {
  color: #fff;
}

.notification a:hover {
  text-decoration: none;
}


@media all and (max-width: 750px) {
  .content-container {
    width: 100%;
    max-width: 100%;
  }

  .nav-primary {
    height: auto;
  }

  .nav-primary a:link {
    width: auto;
  }

  .nav-primary li {
    float: none;
    text-align: center;
    width: 100%;
  }

  .twitter-li {
    margin-bottom: 10px;
  }

  .brand-name img {
    padding-left: 10px;
    max-width: 80%;
  }

  #carbonads {
    width: 90%;
  }

  .search-form input {
    border: 1px solid #111;
    width: 80%;
  }

  .notification {
    padding: 5px;
    height: auto;
    margin: 0;
  }
}


/**
 * Syntax (monokai)
 */

 .highlight         { background-color: #212121 }
 .c                 { color: #75715e }                            /* Comment                     */
 /*.err               { color: #960050; background-color: #1e0010 } /* Error                       */
 .k                 { color: #66d9ef }                            /* Keyword                     */
 .l                 { color: #ae81ff }                            /* Literal                     */
 .n                 { color: #f8f8f2 }                            /* Name                        */
 .o                 { color: #f92672 }                            /* Operator                    */
 .p                 { color: #f8f8f2 }                            /* Punctuation                 */
 .cm                { color: #75715e }                            /* Comment.Multiline           */
 .cp                { color: #75715e }                            /* Comment.Preproc             */
 .c1                { color: #75715e }                            /* Comment.Single              */
 .cs                { color: #75715e }                            /* Comment.Special             */
 .ge                { font-style: italic }                        /* Generic.Emph                */
 .gs                { font-weight: bold }                         /* Generic.Strong              */
 .kc                { color: #66d9ef }                            /* Keyword.Constant            */
 .kd                { color: #66d9ef }                            /* Keyword.Declaration         */
 .kn                { color: #f92672 }                            /* Keyword.Namespace           */
 .kp                { color: #66d9ef }                            /* Keyword.Pseudo              */
 .kr                { color: #66d9ef }                            /* Keyword.Reserved            */
 .kt                { color: #66d9ef }                            /* Keyword.Type                */
 .ld                { color: #e6db74 }                            /* Literal.Date                */
 .m                 { color: #ae81ff }                            /* Literal.Number              */
 .s                 { color: #e6db74 }                            /* Literal.String              */
 .na                { color: #a6e22e }                            /* Name.Attribute              */
 .nb                { color: #f8f8f2 }                            /* Name.Builtin                */
 .nc                { color: #a6e22e }                            /* Name.Class                  */
 .no                { color: #66d9ef }                            /* Name.Constant               */
 .nd                { color: #a6e22e }                            /* Name.Decorator              */
 .ni                { color: #f8f8f2 }                            /* Name.Entity                 */
 .ne                { color: #a6e22e }                            /* Name.Exception              */
 .nf                { color: #a6e22e }                            /* Name.Function               */
 .nl                { color: #f8f8f2 }                            /* Name.Label                  */
 .nn                { color: #f8f8f2 }                            /* Name.Namespace              */
 .nx                { color: #a6e22e }                            /* Name.Other                  */
 .py                { color: #f8f8f2 }                            /* Name.Property               */
 .nt                { color: #f92672 }                            /* Name.Tag                    */
 .nv                { color: #f8f8f2 }                            /* Name.Variable               */
 .ow                { color: #f92672 }                            /* Operator.Word               */
 .w                 { color: #f8f8f2 }                            /* Text.Whitespace             */
 .mf                { color: #ae81ff }                            /* Literal.Number.Float        */
 .mh                { color: #ae81ff }                            /* Literal.Number.Hex          */
 .mi                { color: #ae81ff }                            /* Literal.Number.Integer      */
 .mo                { color: #ae81ff }                            /* Literal.Number.Oct          */
 .sb                { color: #e6db74 }                            /* Literal.String.Backtick     */
 .sc                { color: #e6db74 }                            /* Literal.String.Char         */
 .sd                { color: #e6db74 }                            /* Literal.String.Doc          */
 .s2                { color: #e6db74 }                            /* Literal.String.Double       */
 .se                { color: #ae81ff }                            /* Literal.String.Escape       */
 .sh                { color: #e6db74 }                            /* Literal.String.Heredoc      */
 .si                { color: #e6db74 }                            /* Literal.String.Interpol     */
 .sx                { color: #e6db74 }                            /* Literal.String.Other        */
 .sr                { color: #e6db74 }                            /* Literal.String.Regex        */
 .s1                { color: #e6db74 }                            /* Literal.String.Single       */
 .ss                { color: #e6db74 }                            /* Literal.String.Symbol       */
 .bp                { color: #f8f8f2 }                            /* Name.Builtin.Pseudo         */
 .vc                { color: #f8f8f2 }                            /* Name.Variable.Class         */
 .vg                { color: #f8f8f2 }                            /* Name.Variable.Global        */
 .vi                { color: #f8f8f2 }                            /* Name.Variable.Instance      */
 .il                { color: #ae81ff }                            /* Literal.Number.Integer.Long */
