---
layout: page
title: Archives
---

<p>Below are all the posts on the JavaScript Playground.</p>
<p>You can use the search box below to find what you're looking for.</p>

<form class="search-form">
  <input type="text" name="searchterm" placeholder="backbone" />
</form>

<ul class="archives">
  {% for post in site.posts %}
    <li>
      <h4><a href="{{post.url}}">{{post.title}}</a></h4>
      <p class="post_date">{{ post.date | date: "%d %B %Y" }} by
      {% if post.author %}
        <a href="http://twitter.com/{{post.author_twitter}}">{{ post.author }}</a>
      {% else %}
        <a href="http://twitter.com/Jack_Franklin">Jack Franklin</a>
      {% endif %}
    </p>
      </li>
  {% endfor %}
</ul>

<script>
  // eventually I might decide to do something with this data
  window.__JSPLAYGROUND_POSTS = [
    {% for post in site.posts %}
      {
        "title"    : "{{ post.title | escape }}",
        "url"      : "{{ post.url }}",
        "date"     : "{{ post.date }}"
      } {% unless forloop.last %},{% endunless %}
    {% endfor %}
  ];
</script>
