<div class="container">
  <footer class="site-footer" role="contentinfo">
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/archives">Archives</a></li>
        <li>
          <a href="http://feeds.feedburner.com/TheJavascriptPlayground">RSS</a>
        </li>
        <li><a href="http://twitter.com/Jack_Franklin">Twitter</a></li>
      </ul>
      <p class="copyright">
        &copy; 2012-20{{ site.time | date: '%y' }} Jack Franklin
      </p>
    </div>
  </footer>
</div>
