<script type="text/javascript">
  var _gaq = _gaq || []
  _gaq.push(['_setAccount', 'UA-3206068-17'])
  _gaq.push(['_trackPageview'])
  ;(function() {
    var ga = document.createElement('script')
    ga.type = 'text/javascript'
    ga.async = true
    ga.src =
      ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
      '.google-analytics.com/ga.js'
    var s = document.getElementsByTagName('script')[0]
    s.parentNode.insertBefore(ga, s)
  })()
</script>

<!-- Default Statcounter code for JavaScript Playground
https://www.javascriptplayground.com -->
<script type="text/javascript">
  var sc_project = 11986039
  var sc_invisible = 1
  var sc_security = 'f6a3eed3'
  var sc_https = 1
  var sc_remove_link = 1
</script>
<script
  type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async
></script>
<!-- End of Statcounter Code -->
