<nav class="nav-primary" role="navigation">
  <ul>
    <li {% if page.url == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
    <li {% if page.url == "/archives/" %}class="active"{% endif %}><a href="/archives">Archives</a></li>
    <li {% if page.url == "/speaking/" %}class="active"{% endif %}><a href="/speaking">Speaking</a></li>
    <!-- coming soon -->
    <!-- <li {% if page.url == "/videos" %}class="active"{% endif %}><a href="/videos">Video courses</a></li> -->
    <li><a href="http://feeds.feedburner.com/TheJavascriptPlayground">RSS Feed</a></li>
  </ul>
</nav>
