<section class="content-block">
  <div class="container paddle-notice">
    {% if include.variant == "blue" %}
    <img src="/img/paddle_web_blue.png" alt="Paddle" />
    {% else %}
    <img src="/img/paddle_web_white.png" alt="Paddle" />
    {% endif %}
    <p>
      All courses are sold and fulfilled by Paddle - an authorized reseller. Our
      order process is conducted by our online reseller Paddle.com. Paddle.com
      is the Merchant of Record for all our orders. Paddle provides all customer
      service inquiries and handles returns.
    </p>
  </div>
</section>
