<div class="individual-post">
  <div class="post-header">
    <div class="container">
      <div class="latest-date">
        <span class="day">
          {{ post.date | date: '%d' }}
        </span>
        <span class="month">
          {{ post.date | date: '%b' }}
        </span>
      </div>

      <h2 class="post-title">{{ post.title }}</h2>
    </div>
    <div class="container post-intro">
      <p>{{ post.intro }}</p>
    </div>
  </div>

  <section class="post-full-content container">
    <div class="content-container">
      {% if post.deprecated_by %}
      <p class="deprecation-warning">
        This post is now outdated. Instead of reading this one you should
        instead read
        <a href="{{ post.deprecated_by }}">the newer post on this subject.</a>
      </p>
      {% endif %}
      <div class="carbon">
        <script
          async
          type="text/javascript"
          src="https://cdn.carbonads.com/carbon.js?serve=CKYIEK7M&placement=javascriptplaygroundcom"
          id="_carbonads_js"
        ></script>
      </div>

      {{ content }}

      {% unless is_page %}

      <div class="mailchimp">
        <!-- Begin Mailchimp Signup Form -->

        <p>
          If you enjoyed this post, signup to the newsletter to be notified when
          there's new content, new courses and exclusive offers.
        </p>

        <div id="mc_embed_signup">
          <form
            action="https://javascriptplayground.us14.list-manage.com/subscribe/post?u=5935b4febeb6cbf03a8bde89c&amp;id=e5d4b1e488"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_blank"
            novalidate
          >
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input
                  type="email"
                  value=""
                  placeholder="your@emailaddress.com"
                  name="EMAIL"
                  class="required email"
                  id="mce-EMAIL"
                />
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div
                style="position: absolute; left: -5000px;"
                aria-hidden="true"
              >
                <input
                  type="text"
                  name="b_5935b4febeb6cbf03a8bde89c_e5d4b1e488"
                  tabindex="-1"
                  value=""
                />
              </div>
              <input
                type="submit"
                value="Subscribe"
                name="subscribe"
                id="mc-embedded-subscribe"
                class="button"
              />
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->
      </div>
      <p class="thank-you-tweet">
        <img src="/img/twitter.svg" />
        If you enjoyed this article please feel free to
        <a
          href="https://twitter.com/intent/tweet?text={{
            page.title
          }}&url=https://www.javascriptplayground.com{{
            page.url
          }}&via=Jack_Franklin&related=Jack_Franklin"
          rel="nofollow"
          target="_blank"
          title="Share on Twitter"
          >share it on Twitter</a
        >.
      </p>

      {% endunless %}
    </div>
  </section>
</div>
