<div class="individual-post">
  <div class="post-header">
    <div class="container">
      <div class="latest-date">
        <span class="day">
          {{ post.date | date: '%d' }}
        </span>
        <span class="month">
          {{ post.date | date: '%b' }}
        </span>
      </div>

      <h2 class="post-title">{{ post.title }}</h2>
    </div>
    <div class="container post-intro">
      <p>{{ post.intro }}</p>
    </div>
  </div>

  <section class="post-full-content container">
    <div class="content-container">
      {{ content }}
    </div>
  </section>
</div>
