@import 'variables';

.mailchimp {
  padding: 20px 0;
  border-bottom: 1px solid $global-yellow;
  border-top: 1px solid $global-yellow;
  margin: 30px 0 15px 0;

  p,
  input {
    font-size: 18px !important;
    line-height: 27px !important;
  }

  form #mc_embed_signup_scroll {
    display: flex;
  }

  .mc-field-group {
    width: 80%;
    max-width: 250px;
  }

  input[type='submit'] {
    margin-left: 20px;
    border: 4px solid $global-yellow;
    background-color: $global-yellow;
    color: $global-text-black;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }
  }

  input[type='email'] {
    width: 100%;
    max-width: 500px;
    border: none;
    color: $global-text-dark-gray;
    padding: 5px 10px;
    display: block;
    margin: 0 5px 0 0;
  }
}
