@import './code';

body {
  font-family: bio-sans, sans-serif;
}

pre,
code {
  font-family: 'Operator Mono', 'IBM Plex Mono', 'Courier New', Courier,
    monospace;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * grid = 1,180
 * 12 cols, with 20 px gutter
 */

$global-grid-gutter: 20px;
$global-base-spacing-1: 16px;
$global-base-spacing-2: $global-base-spacing-1 * 2;
$global-grid-upper-breakpoint: 768px;

$global-yellow: #fef86e;
$global-black: #000000;

$global-text-black: #26282e;
$global-text-dark-gray: #4a4c52;

$posts-horizontal-min: 700px;

/**
  * $col: number of columns that the elements should span
  * $numCols: total number of columns (default: 12)
  * $gutter: the gutter size (default: 20px)
  */
@function calc-grid($col, $numCols: 12, $gutter: $global-grid-gutter) {
  $per: percentage($col / $numCols);
  $amt: $numCols - $col;
  @return calc(#{$per} - #{$gutter} * (#{$amt} / #{$numCols}));
}

@mixin base-grid-padding() {
  padding-left: $global-base-spacing-1;
  padding-right: $global-base-spacing-1;

  @media (min-width: $global-grid-upper-breakpoint) {
    padding-left: $global-base-spacing-2;
    padding-right: $global-base-spacing-2;
  }
}

@mixin base-max-width() {
  @media (min-width: $global-grid-upper-breakpoint) {
    max-width: 1180px;
    width: 100%;
  }
}

@mixin base-grid() {
  @include base-grid-padding();
  @include base-max-width();
}

body.yellow-bg {
  background: $global-yellow;
}

.container {
  @include base-grid();
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  padding-top: 40px;
  background: $global-yellow;

  > .container {
    display: flex;
  }
  .logo {
    display: block;
  }

  .logo img {
    width: 195px;
    height: 42px;
  }
  /* homepage has the big full logo */
  &.homepage-header {
    .logo img {
      width: 146px;
      height: 194px;
    }
  }
  .nav-primary {
    margin-left: auto;

    ul {
      display: flex;

      @media (max-width: 550px) {
        width: 120px;
        flex-direction: column;
      }

      li {
        padding-bottom: 20px;
      }

      @media (max-width: 550px) {
        li + li {
          margin-top: 20px;
        }
      }

      @media (min-width: 551px) {
        li + li {
          margin-left: 23px;
        }
      }

      li.active {
        border-bottom: 5px solid $global-black;
      }

      a {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;

        &:link,
        &:visited {
          color: $global-black;
          text-decoration: none;
        }
      }
    }
  }
}

// home page

// common elements

.read-more-link {
  &:link,
  &:visited {
    text-transform: uppercase;
    color: $global-text-black;
    font-weight: bold;
    padding-bottom: 5px;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 4px solid $global-text-black;
  }
}

.latest-date {
  span {
    width: 100%;
    display: block;
    text-align: right;
  }

  .day {
    font-size: 20px;
    font-style: italic;
    letter-spacing: -0.03em;
    color: $global-text-black;
  }

  .month {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
  }
}

.post-title {
  font-weight: 700;
  font-size: 30px;
  color: $global-text-black;
  margin-bottom: 30px;
}

.latest-post {
  margin-top: 60px;
  margin-bottom: 80px;

  @media (min-width: 850px) {
    margin-top: 120px;
    margin-bottom: 150px;
  }

  width: calc-grid(12);
  display: flex;
  min-height: 150px;

  .latest-post-text-container {
    position: relative;
    display: none;

    @media (min-width: 850px) {
      width: calc-grid(1);
      display: block;
    }

    .latest-rotated {
      display: none;

      color: $global-text-black;
      text-transform: uppercase;
      font-size: 21px;
      font-weight: bold;
      letter-spacing: 0.3em;
      transform: rotate(90deg);
      width: 200px;

      @media (min-width: 850px) {
        display: block;
        position: absolute;
        top: 88px;
        left: -20px;
      }
    }
  }

  .latest-date {
    width: calc-grid(1);
    @media (max-width: $posts-horizontal-min - 1) {
      width: calc-grid(2, 12);
    }

    .day {
      font-size: 20px;
    }

    .month {
      font-size: 20px;
    }

    @media (min-width: 850px) {
      margin-left: calc-grid(1);
    }

    @media (min-width: 950px) {
      .day,
      .month {
        font-size: 30px;
      }
    }
  }

  .latest-content {
    width: calc-grid(11);
    margin-left: $global-grid-gutter;

    @media (max-width: $posts-horizontal-min - 1) {
      width: calc-grid(10, 12);
    }

    @media (min-width: 850px) {
      width: calc-grid(9);
    }

    .post-title {
      font-size: 40px;
      margin-top: -5px;

      @media (min-width: 850px) {
        font-size: 50px;
      }
    }

    p {
      color: $global-text-black;
      font-size: 21px;
      margin-bottom: 30px;
    }

    .read-more-link {
      font-size: 21px;
    }
  }
}

.subsequent-posts {
  @media (min-width: $posts-horizontal-min) {
    display: flex;
  }

  .latest-date {
    width: calc-grid(2, 12);

    @media (min-width: $posts-horizontal-min) {
      width: calc-grid(1, 6);
    }

    .day {
      font-size: 20px;
      @media (min-width: 1000px) {
        font-size: 30px;
      }
    }

    .month {
      font-size: 20px;
      @media (min-width: 1000px) {
        font-size: 33px;
      }
    }
  }

  .post {
    width: 100%;

    & + .post {
      @media (max-width: $posts-horizontal-min - 1) {
        margin-top: 60px;
      }
    }

    @media (min-width: $posts-horizontal-min) {
      width: calc-grid(6);
      margin-top: 0;
    }

    display: flex;

    .post-title {
      margin-top: -3px;
    }

    .latest-content {
      width: calc-grid(5, 6);
      margin-left: $global-grid-gutter;

      p {
        color: $global-text-black;
        font-size: 21px;
        margin-bottom: 30px;
        line-height: 1.4;
        font-weight: 300;
      }

      .read-more-link {
        font-size: 17px;
      }
    }
  }

  .post + .post {
    @media (min-width: 700px) {
      margin-left: $global-grid-gutter;
    }
  }
}

.homepage-course-advert {
  width: calc-grid(12);
  border-radius: 3px;
  background: $global-text-black;
  color: $global-yellow;

  margin: 80px 0;
  @media (min-width: 850px) {
    // 30px left because it's purposefully off grid
    margin-left: 30px;
  }

  padding: 30px;

  p {
    line-height: 42px;
    font-size: 24px;
  }

  a {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 180px;
    padding-bottom: 5px;

    img {
      margin-left: 5px;
      margin-top: 2px;
      height: 24px;
      width: 24px;
    }

    &:link,
    &:visited {
      color: $global-yellow;
      font-weight: bold;
      font-size: 21px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      border-bottom: 5px solid $global-text-black;
    }

    &:hover {
      border-bottom: 5px solid $global-yellow;
    }
  }
}

.site-footer {
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;

  p {
    text-align: right;
    margin-top: 10px;
  }

  ul {
    display: flex;

    li {
      padding: 10px;
      text-transform: uppercase;

      &:last-of-type {
        padding-right: 0;
      }

      a:link,
      a:visited {
        text-decoration: none;
        color: $global-text-black;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.non-homepage {
  .individual-post {
    .post-header {
      background: $global-yellow;
      padding-top: 130px;
      padding-bottom: 70px;
      margin-bottom: 40px;
    }
    .post-header .container {
      display: flex;

      .latest-date {
        width: calc-grid(1, 12);
        margin-left: calc-grid(1, 12);
        > span {
          font-size: 30px;
        }
      }

      .post-title {
        margin-left: $global-grid-gutter;
        width: calc-grid(10, 12);
        font-size: 50px;
        margin-top: -3px;
      }
    }

    .post-intro.container {
      p {
        margin-left: calc-grid(2, 12);
        width: calc-grid(10, 12);
        font-size: 21px;
      }
    }

    .post-full-content {
      .content-container {
        width: calc-grid(10, 12);
        margin-left: calc-grid(2, 12);

        h2 {
          font-size: 33px;
          line-height: 50px;
          color: $global-text-black;
          font-weight: bold;
        }

        ol,
        ul {
          list-style: disc;
        }

        p,
        li {
          font-size: 24px;
          line-height: 37px;
          color: $global-text-dark-gray;
        }

        blockquote {
          font-style: italic;
          background: $global-yellow;
          padding: 20px;
          border-radius: 3px;
          width: 100%;
        }

        ol,
        p,
        ul,
        blockquote,
        .highlighter-rouge {
          + * {
            margin-top: 20px;
          }

          + h1,
          + h2,
          + h3,
          + h4,
          + h5 {
            margin-top: 40px;
          }
        }

        // only inline
        code.highlighter-rouge {
          background: #e4edf9;
          border-radius: 2px;
          padding: 2px 5px;
        }

        // only applies to blocks, not to inline
        div.highlighter-rouge {
          margin-top: 30px;
          width: 110%;
          margin-left: -10%;
          .highlight {
            border-radius: 3px;
            padding: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
