body {
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.5;
  background: #ededed;
}

ol {
  list-style: decimal;
  padding-left: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1.2em;
}

.content-container {
  max-width: 860px;
  width: 90%;
  margin: 0 auto;
}

.site-header {
  width: 100%;
  background: #333;
  height: 100px;
}

.brand-name img {
  max-height: 70px;
  margin-top: 15px;
}

.site-header p {
  font-size: 0.9em;
  font-weight: normal;
  padding: 19px 0 0 20px;
  width: 60%;
  float: right;
}

.site-header .brand-name a:link,
.site-header .brand-name a:visited {
  color: #000;
  text-decoration: none;
}

.nav-primary {
  width: 100%;
  background: #212121;
  height: 60px;
}

.nav-primary li {
  display: block;
  float: left;
}

.nav-primary a:link,
.nav-primary a:visited {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 60px;
  width: 100px;
  line-height: 60px;
  text-align: center;
}

.nav-primary a:hover {
  color: #333;
  background: #f7df1e;
}

.nav-primary .twitter-li {
  margin-top: 20px;
  float: right;
}

p,
.entry-content ul,
.entry-content ol {
  margin-bottom: 1em;
  line-height: 1.95;
}

blockquote p {
  margin-bottom: 0.2em;
}

.entry-content blockquote {
  padding: 10px 5px 5px 45px;
  margin-bottom: 1em;
  background: url(/img/info.png) no-repeat #eee;
  background-size: 30px;
  background-position: 10px 15px;
}

code,
pre {
  font-family: Monaco, Consolas, monospace;
}
code {
  font-size: 1em;
}

p > code,
li > code {
  background: #ddd;
  padding: 3px;
}

.entry-content ul {
  list-style: disc;
  padding: 5px 0 0 20px;
}

.entry-content h2,
.entry-content h3 {
  margin-top: 1.5em;
}

.entry-content .highlighter-rouge {
  margin-top: -1em;
}

pre {
  color: #fff;
  background: #212121;
  padding: 15px 5px 15px 10px;
  word-wrap: break-word;
  font-size: 0.9em;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: scroll;
}

.main {
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.main a:link,
.main a:visited {
  color: blue;
}

.main a:hover {
  text-decoration: none;
}

.home-post:first-of-type {
  margin-top: 15px;
}
.home-post {
  padding: 20px 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.entry-title,
.entry-intro {
  position: relative;
}
.entry-title {
  text-align: center;
}

.entry-title a:link,
.entry-title a:visited {
  color: #000;
  text-decoration: none;
}

.entry-title a:hover {
  color: #696969;
}

.entry-intro a:link,
.entry-intro a:visited,
footer a:link,
footer a:visited {
  color: #000;
  text-decoration: none;
}

.entry-intro a:hover,
footer a:hover {
  color: #696969;
}

.credits {
  font-size: 12px;
}

.copyright {
  margin-bottom: 0.1em;
}

.entry-read-more {
  color: #000;
  display: block;
}

.entry-date {
  font-size: 0.7em;
  color: #7e7e7e;
  display: block;
  margin-top: 10px;
}

.home-archives-link {
  text-align: center;
  margin-top: 35px;
}

.home-archives-link a:link,
.home-archives-link a:visited {
  text-decoration: underline;
  color: #000;
}

.home-archives-link a:hover {
  color: #7e7e7e;
}

#carbonads {
  font-size: 14px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  display: block;
  width: 60%;
  margin: 0 auto 25px auto;
  height: 100px;
}

#carbonads a:link,
#carbonads a:visited {
  color: #111;
  text-decoration: none;
  display: block;
}

#carbonads a:hover {
  text-decoration: underline;
}

.carbon-poweredby {
  display: block;
}

.carbon-img {
  display: block;
  float: left;
  margin-right: 15px;
}

.carbon-text {
  padding: 6px;
}

.entry-content img {
  max-width: 100%;
}

.entry-meta {
  font-style: italic;
  text-align: center;
  font-size: 14px;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

footer {
  width: 400px;
  margin: 30px auto 10px auto;
  text-align: center;
  font-size: 0.9em;
}

footer li {
  display: inline-block;
  padding: 2px 5px;
}

.search-form input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
}

ul.archives {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  margin: 20px 0;
}

.archives p {
  margin: 5px 0;
}

.archives li {
  list-style: none;
  margin-bottom: 25px;
  border-top: 1px solid #ddd;
  padding-top: 25px;
}

.archives-intro {
  font-style: italic;
}

.notification {
  height: 30px;
  line-height: 30px;
  background: #f6dd3b;
  color: #111;
  font-size: 15px;
  padding: 0 0 0 10px;
  text-align: center;
}

.notification a:link,
.notification a:visited {
  color: #111;
}

.notification a:hover {
  text-decoration: none;
}

.about-author img {
  float: left;
  width: 150px;
}

.about-author-content {
  padding-top: 5px;
  margin-left: 20px;
}

.thank-you,
.about-author {
  margin: 1.5em 0;
}

.thank-you-testing-react {
  padding: 10px;
  background: #60bafa;
  color: #fff;
  a:link,
  a:visited {
    color: #fff;
  }

  a:hover {
    background-color: #fff;
    color: #111;
    transition: background-color 0.2s ease-in;
  }
}

.pagination {
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.pagination-prev-btn,
.pagination-next-btn {
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ccc;
  display: block;
}

.pagination ul {
  padding: 0;
  margin: 0;
  width: calc(100% - 80px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}

.pagination li {
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ccc;
}

.pagination a:link,
.pagination a:visited {
  text-decoration: none;
  color: #111;
}

.pagination li:hover {
  cursor: pointer;
  background: #ccc;
}

.pagination li.pagination-current-page {
  background: #ccc;
}

@media all and (max-width: 750px) {
  .content-container {
    width: 100%;
    max-width: 100%;
  }

  .nav-primary {
    height: auto;
  }

  .nav-primary a:link {
    width: auto;
  }

  .nav-primary li {
    float: none;
    text-align: center;
    width: 100%;
  }

  .twitter-li {
    margin-bottom: 10px;
  }

  .brand-name img {
    padding-left: 10px;
    max-width: 80%;
  }

  #carbonads {
    width: 90%;
  }

  .search-form input {
    border: 1px solid #111;
    width: 80%;
  }

  .notification {
    padding: 5px;
    height: auto;
    margin: 0;
  }

  #mc_embed_signup input.email,
  #mc_embed_signup button {
    width: 100%;
    margin: 10px 0;
  }

  iframe {
    max-width: 100%;
  }

  .pagination li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
  }
}
