<!DOCTYPE html>
<html>
<head>
  {{ theme:partial name="metadata" }}
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/js/rainbow-custom.min.js"></script>
  <script src="/js/app.js"></script>
</head>
	<body class="{% if page.id %} blog_single {% else %} page {% endif %}">
    <header>
      <nav>
        <ul>
          {{ navigation:links group="header" }}
        </ul>
      </nav>
      <div class="container">
        <hgroup>
          <h2>JavaScript Playground</h2>
          <h3>Tips, tricks, tutorials &amp; screencasts to help you improve your JavaScript</h3>
        </hgroup>
      <img src="/img/imac.png" alt="">
      </div>
    </header>
    <div class="container">
      {{ content }}
    </div>
  <footer>
    <div class="container">
      <h2>JavaScript Playground</h2>
      <p>Maintained by <a href="http://twitter.com/Jack_Franklin">Jack Franklin</a>. Designed by <a href="http://twitter.com/TobyHowarth">Toby Howarth</a></p>
      <p>All content &copy; Jack Franklin</p>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3206068-17']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    </div>
  </footer>
	</body>
</html>
