<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- <link href="http://jspassets.jspg.netdna-cdn.com/css/styles.css" rel="stylesheet" /> -->
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>

    <header class="site-header clearfix" role="banner">
      <a href="#" class="menu-icon"><img src="/img/menu.png" /></a>
      <h1 class="brand-name"><a href="/">JavaScript Playground</a></h1>
    </header>
    <nav class="nav-primary" role="navigation">
      <button type="button" class="btn nav-toggle">
        <span>Menu</span>
      </button>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contributing.html">Contribute</a></li>
        <li><a href="/archives.html">Archive</a></li>
        <hr>
        <li><a href="http://twitter.com/jsplayground_">Follow on Twitter</a></li>
        <li><a href="http://feeds.feedburner.com/TheJavascriptPlayground">RSS Feed</a></li>
      </ul>
    </nav>
    <div class="main-wrapper">
      <section role="main">
        {{ content }}
      </section>
    </div>
    <footer class="site-footer" role="contentinfo">
      <div class="latest-posts">
        <h1>Latest Posts</h1>
        <ul class="hfeed">
          {% for post in site.posts limit:3 %}
          <li class="hentry"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="about-the-site">
        <h1>About The Site</h1>
        <p>The JavaScript Playground is a blog dedicated to producing top quality JavaScript tutorials on a number of subjects.</p>
        <p>To see all past posts, take a look at the <a href="/archives.html">archives</a>, or find out how you could <a href="/contributing.html">contribute</a>.
          You can also subscribe to the <a href="http://feeds.feedburner.com/TheJavascriptPlayground">RSS feed</a>, or <a href="http://twitter.com/jsplayground_">follow the site on Twiter</a>.</p>
        <p>The JavaScript Playground is supported and sponsored by <a href="http://www.maxcdn.com">MaxCDN</a>.</p>
        <p class="copyright">&copy; 2012-14 JavaScript Playground</p>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://jspassets.jspg.netdna-cdn.com/js/app.js"></script>
    <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3206068-17']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
