<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/js/rainbow-custom.min.js"></script>
  <script src="/js/app.js"></script>
</head>
	<body class="{% if page.id %} blog_single {% else %} page {% endif %}">
    <header>
      <nav>
        <ul>
          <li><a href="http://feeds.feedburner.com/TheJavascriptPlayground">RSS Feed</a></li>
          <li><a href="/contributing.html">Contribute</a></li>
          <li><a href="/archives.html">Archives</a></li>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
      <div class="container">
        <h2><a href="/">JavaScript Playground</a></h2>
      </div>
    </header>
    <div class="container">
      {{ content }}
    </div>
  <footer>
    <div class="container">
      <h2>JavaScript Playground</h2>
      <p>Maintained by <a href="http://twitter.com/Jack_Franklin">Jack Franklin</a>. Designed by <a href="http://twitter.com/TobyHowarth">Toby Howarth</a></p>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3206068-17']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    </div>
  </footer>
	</body>
</html>
